body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}


header {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;

}

footer {
  height: 100px;
  color: white;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .hero {} */

.hero,
footer {
  background-color: #1f2937;

}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;


}

ul {
  display: flex;
  gap: 16px;
  list-style: none;
  margin: auto;
  padding: 0px;
}

.hero-section {
  display: flex;
  padding: 65px;
}

.hero-content {
  width: 450px;
  padding-bottom: 10px;
  margin-right: 50px;
}


/* main hero text */
.hero-main {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  max-width: 400px;

}

/* Hero Secondary */
.hero-secondary {
  max-width: 500px;
  margin-bottom: 10px;

}

.hero-secondary,
.header-links {
  font-size: 18px;
  color: #E5E7Eb;
}

.hero-button {
  background-color: #3882f6;
  color: white;
  width: 85px;
  height: 25px;
  font-size: 15px;
  border-radius: 13%;
}

.placeholder {
  color: white;
  display: flex;
  background-color: grey;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 150px;
  padding: 15px;
}

/* Information section */
.info-section {
  font-size: 36px;
  color: #1f2937;
  font-weight: 700;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

/* Need 4 of these in 1 div then flex it */
.boxes {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  /* Eventually shorten the distance between boxes */

}

#rectangle {
  height: 150px;
  width: 150px;
  border: solid 5px rgb(53, 124, 255);
  border-radius: 10%;

}

.mini-box {
  display: flex;
  flex-direction: column;
  width: 160px;
  text-align: center;
}

/* add anything redundant to this */
.hero,
.two,
.three,
.four {
  height: 450px;
}

.two {
  background: #ffffff5b;


}

.three {
  background: #E5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.four {
  background: #ffffff5b;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .quote-container {} */
/* Not sure if I need this. */

.quote {
  align-self: center;
  font-size: 36px;
  font-style: italic;
  font-weight: 350;
  width: 775px;
  color: #1f2937;

}

.signature {
  font-weight: bold;
  font-size: 25px;
  justify-self: flex-end;
}

.cta-container {
  width: 1100px;
  height: 175px;
  background-color: #3882f6;
  color: white;
  display: flex;
  border-radius: 15px;
}

.cta-container,
.notice-container {
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-content: space-evenly
}

.notice-container {
  height: 150px;

}

.cta-notice {
  font-weight: 800;
  font-size: 22px;
}

.cta-button {
  width: 125px;
  height: 45px;
  background-color: #3882f6;
  color: white;
  border: solid white 3px;
  border-radius: 15px;
  font-weight: bold;

}